*{
	font-size: 20px;
	font-family: Times;
}
.editBox{
	width:50%;
}
.completed {
	text-decoration: line-through;
}
.form-control {
	width:50%;
	margin:auto;
	font-size: 20px;
}

ul{
	margin-top:15px;
}

.btn-default{
	font-size: 20px
}
